<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
  <tr>
    <th>Comment text</th>
    <th>Comment date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment_text %></td>
        <td><%= comment.comment_date %></td>
        <% if current_user.try(:id) == comment.user_id %>
            <td><%= link_to 'Edit', edit_proyect_comment_path(@proyect, comment) %></td>
            <td><%= link_to 'Destroy', [@proyect, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_proyect_comment_path(@proyect) %>
