<div id="offcanvass">
  <a class="offcanvass-close" data-remote="true">User Menu</a>
  <ul>
    <li><%= link_to raw('<i class="fa fa-star"></i> My Proyects'),
                    user_proyects_url(current_user)%></li>
    <li><%= link_to raw('<i class="fa fa-user-circle"></i>  Check Profile'),
                    user_path(current_user) %></li>
    <li><%= link_to raw('<i class="fa fa-id-card-o"></i>  Edit Profile'),
                    edit_user_path(current_user) %></li>
    <li><%= link_to raw('<i class="fa fa-sign-out"></i> Logout'),
                    session_path(current_user), method: :delete %></li>
  </ul>
</div>
<header id="header">
  <%= link_to raw('Menu <i class="fa fa-bars"></i>'),
              'javascript:;', class: 'menu-btn js-menu-btn', remote: true%>
</header>