<div class="nav-container">
  <ul class="nav-bar">
    <li class="list"><%= link_to raw('<span class="bar-button">Projects</span>'), proyects_path%></li>
    <% if current_user %>
        <li class="list"><%= link_to raw('<span class="bar-button">Create Project</span>'), new_proyect_path %></li>
        <% if current_user.try(:admin?) %>
            <li class="list"><%= link_to raw('<span class="bar-button">Categories</span>'), categories_path%></li>
        <% end %>
    <% else %>
        <li class="list"><%= link_to raw('<span class="bar-button">Login</span>'), new_session_path %></li>
        <li class="list"><%= link_to raw('<span class="bar-button">Register</span>'), new_user_path %></li>
    <% end %>
  </ul>
  <%= form_tag search_proyects_path, method: :get, id: 'search-container' do%>
    <p>
      <span class="search-icon"><i class="fa fa-search"></i></span>
      <%= text_field_tag :search, params[:search], id: 'search-text', placeholder:'Search...' %>
    </p>
  <% end %>
</div>


