<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if current_user %>
          <%= render 'layouts/profile' %>
      <% end%>

      <nav id="user-bar">
        <%= render 'layouts/userbar'%>
      </nav>

    </header>

    <main>
      <% [:alert, :notice].each do |flash_type| %>
          <% if (flash_message = flash[flash_type]).present? %>
              <div class="<%= flash_type %>"><%= flash_message %></div>
          <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
