<% @exchange_rates["rates"].each do |curr| %>
    <%= hidden_field_tag curr[0], curr[1] %>
<% end %>

<%= hidden_field_tag 'UnQ', "/likes/#{@proyect.id}?like%5Bproyect_id%5D=#{@proyect.id}&like%5Buser_id%5D=#{current_user.id}"%>
<%= hidden_field_tag 'LiQ', "/likes?like%5Bproyect_id%5D=#{@proyect.id}&like%5Buser_id%5D=#{current_user.id}"%>

<%= hidden_field_tag 'flag', '0'%>


<header class="masthead clear">
  <div class="centered">
    <div class="site-branding">
      <h1 class="site-title"><%=@proyect.name%></h1>
    </div>
  </div>
</header>

<div class="proyect-avatar">
  <%= image_tag @proyect.avatar.url(:medium) %>
</div>


<div class="centered">
  <article class="in-use">
    <div class="inner-container">
      <div class="card-content in-use">
        <div class="content"><strong>Description</strong>: <%= @proyect.description %> </div>
        <div class="content"><strong>Score</strong>:
          <span id="likes_count"><%= @proyect.likes.count %></span>
        </div>
        <div class="content"><strong>Collected money</strong>:
          <span id="collected_money" data-tmoney="<%= @proyect.total_amount%>">
            <%= '$%.2f' % @proyect.total_amount %></span>
          <span class="currency"> USD</span>
          <%= select_tag 'currency_op', options_for_select([@exchange_rates['base']] + @exchange_rates['rates'].keys)%>
        </div>
        
        <div class="content"><strong>Goal</strong>:
          <span id="goal_money" data-gmoney="<%=@proyect.goal_money%>"> <%= '$%.2f' % @proyect.goal_money %> </span>
          <span class="currency"> USD</span>
        </div>
        <div class="content"><strong>Expiration date</strong>: <%= @proyect.due_date %></div>

        <div class="content"><strong>Founder</strong>: <%= @proyect.founder.username %></div>

        <div class="user-btns">
          <div class="proyect-btn"><%= like_button(@proyect) %></div>
          <div class="proyect-btn"><%= donate_form(@proyect)%></div>
        </div>
        <%= edit_button(@proyect)%>
        <%= destroy_button(@proyect)%>
      </div>
    </div>
  </article>

  <h4 class="comment-title">Comments</h4>
  <div class="comments-stream">
    <% if @proyect.comments && @proyect.comments.count != 0%>
      <% @proyect.comments.reverse.each do |comment| %>
            <%= render 'comments/preview', comment: comment%>
      <% end %>
    <% else %>
      <h4 class="comment-title">No comments on this proyect</h4>
    <% end %>
  </div>

  <% if current_user%>
    <%= render 'comments/form_create_on_project_page', project: @proyect %>
  <% end %>
</div>
